<script setup lang="ts"></script>
<template>
    <div class="container">
        <h1>Sign In</h1>
        <div class="sub-title">
            <span>If You Need Any Support</span>
            <span class="sub-title-clickable"> Click Here</span>
        </div>
    </div>
</template>
<style scoped>
.container{
    margin-top: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
h1{
    font-weight: 600;
}
.sub-title{
    display: flex;
    align-items: center;
    margin: 7.5% 0;
}
.sub-title-clickable{
    color:#118339;
    font-weight: bold;
    margin-left: 3px
}
</style>