<script setup lang="ts"></script>
<template>
    <div class="container">
        <button class="go-back-btn">&lt</button>
        <div class="logo">
            <img src="../../assets/spotifyLogo.png" width="125" />
        </div>
    </div>
</template>
<style scoped>

.container{
    display: flex;
    height: 10%;
    margin: 5% 5%;
    align-items: center;
}

.go-back-btn{
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 90px;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(29, 29, 29);
}
.logo{
    transform: translate(60%);
}
</style>