<script septup lang="ts">
import router from '@/router';
</script>
<template>
    <div class="go-back">
        <button class="go-back-btn">&lt</button>
    </div>
    <div class="logo">
        <img src="../assets/spotifyLogo.png" width="200" />
    </div>
    <div class="content">
        <h2 class="title">Enjoy Listening To Music</h2>
        <span class="sub-text">Spotify is a prioritary Swedish audio</span>
        <span class="sub-text">streaming and media services provider</span>
        <div class="connection-btns">
            <button @click="router.push('/register')" class="register-btn">Register</button>
            <router-link class="sign-in" to="/login">Sign in</router-link>
        </div>
    </div>
</template>
<style scoped>

.go-back{
    margin: 5% 0 0 5%;
}
.go-back-btn{
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 90px;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(29, 29, 29);
}
.logo{
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.title{
    font-weight: 600;
    margin: 15% 0 5% 0;
}
.content{
    margin-top: 20%;
    width: 80%;
    margin: auto;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connection-btns{
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.register-btn{
    width: 45%;
    height: 75px;
    border-radius: 25px;
    background-color: #1DB954;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.sign-in{
    color: white;
    margin-right: 10%;
    font-size: 20px;
    font-weight: 500;
}
.sub-text{
    color: rgb(160, 160, 160)
}

</style>