<script setup lang="ts">
import router from '@/router';
import ButtonVue from './buttons/Button.vue';

    const methods = {
        onBtnClick(){
            router.push('/modeChoice')
        }
    }
</script>

<template>
    <div class="logo">
        <img src="../assets/spotifyLogo.png" width="200" />
    </div>
    <div class="content">
        <h2 class="">Enjoy Listening To Music</h2>
        <div class="content-subText">
            <span class="subText">Lorem Ipsum is simply dummy text</span>    
            <span class="subText">of the printing and typesetting industry. Lorem</span>    
            <span class="subText"> Ipsum has been the industry's standard</span>    
            <span class="subText">dummy text ever since the 1500s,</span>
        </div>
        <button @click="router.push('/modeChoice')">Get Started</button>
        <!-- <ButtonVue label="Get Started"> </ButtonVue> -->
    </div>
</template>

<style scoped>
.logo{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
h2{
    font-weight: 600;
}
.content{
    padding-top: 105%;
    width: 80%;
    margin: auto;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-subText{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subText{
    color: rgb(181, 181, 181);
    font-size: 14px;
}

button{
    width: 100%;
    height: 75px;
    border-radius: 25px;
    background-color: #1DB954;
    border: none;
    color: white;
    font-size: 20px;
}
body{
    background-image: url('../assets/billie-eilish.png');
    background-size: cover;
}
</style>