<script setup lang="ts">
import ConnectionHeader from './ConnectionComponent/ConnectionHeader.vue';
import ConnectionTitle from './ConnectionComponent/ConnectionTitle.vue';

</script>
<template>
    <ConnectionHeader></ConnectionHeader>
    <ConnectionTitle></ConnectionTitle>
    <div class="content">
        <input class="input" placeholder="Enter Username Or Email" />
        <input class="input" placeholder="Password" />
        <span style="color:white; left:0">Recovery Password</span>
    </div>
</template>
<style scoped>
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input{
    padding: 25px;
    background-color: rgb(66,66,66);
    border-radius: 45px;
    border: 1x solid rgb(193, 193, 193);
    color: rgb(193, 193, 193);
    margin-top: 5%;
    width: 80%
}
</style>