<script setup lang="ts">
import router from '@/router';
</script>
<template>
    <div class="logo">
        <img src="../assets/spotifyLogo.png" width="200" />
    </div>
    <div class="content">
        <h2>Choose Mode</h2>
        <div class="mode-selection">
            <div class="btn-mode">
                <button class="btn"></button>
                <span>Dark Mode</span>
            </div>
            <div class="btn-mode">
                <button class="btn"></button>
                <span>Light Mode</span>
            </div>
        </div>
        <button class="btn-continue" @click="router.push('/connectionChoice')">Continue</button>
    </div>
</template>

<style scoped>
.logo{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
.content{
    padding-top: 60%;
    margin: auto;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-selection{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 20%;
}
.btn-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    height: 75px;
    width: 75px;
    border-radius: 90%;
    border: none;
    margin-bottom: 10px;
}
.btn-continue{
    width: 80%;
    height: 75px;
    border-radius: 25px;
    background-color: #1DB954;
    border: none;
    color: white;
    font-size: 20px;
}
</style>