<script setup lang="ts">
    const props = defineProps({
        label: String,
        onClick: ()=>{}
    })
</script>
<template>
    <button onclick={{onClick}}>{{label}}</button>
</template>
<style scoped>
    button{
    width: 100%;
    height: 75px;
    border-radius: 25px;
    background-color: #1DB954;
    border: none;
    color: white;
    font-size: 20px;
}
</style>